$mobile: "(max-width: 600px) and (max-width: 600px)";
$tablet: "(min-width: 600px) and (max-width: 992px)";
$desktop: "(min-width: 992px) and (max-width: 1200px)";
$large_desktop: "(min-width: 1200px)";
