#reset-password-modal button#forgot-button {
  margin-top: 20px;
}

#reset-password-modal, #forgot-password-modal{
  width:360px;
  // position: relative;
  input{
    margin: 0;
    &[id="emailText"] {
      margin-bottom: 20px;
    }
  }
  .input-field{
    // margin:0em;
  }
  .close-modal {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .modal-footer{
    display:none;
  }
  .fa-facebook{
    color:#4267B2;
  }
  .fa-google-plus-square{
    color:#CD4539;;
  }
  .fa-twitter-square{
    color:#00ACED;;
  }
  .theme-color{
    color:#06576D;
  }
  #login-button{
    width:100%;
    border-radius: 25px;
    background-color: #06576D;
    margin-top: 20px;
    font-weight: 600;
    height: 40px;

    i.fa-sign-in-alt {
      margin-left: 5px;
    }
  }
  h5, h6{
    font-weight: bold;
  }
  .response-message {
    display: none;
  }
  .mb-2{
    margin-bottom: 0.5rem !important;
  }
}
@media only screen and (min-width: 601px) {
  #login-modal{
    width:360px;
  }
}
@media only screen and (min-width: 993px) {
  #login-modal{
    width:380px;
  }
}
