@import '../../styles/variables';

.MainWrapper2 {
  background-color: #f8f9fa;
  .dummyBody {
    div {
      width: 100%;
      height: 50px;
      background-color: #e5e5e5;
      margin-top: 5px;
    }
  }
  .failure{
    h1{
      border-bottom: none;
      font-weight:900;
      font-size:100px;
      margin:10px 0px;
      padding:0px;
      color:#B2B2B2;
    }
    i{
      font-size:50px;
      color:#EF5350;
    }
    h2 {
      font-size: 30px;
    }
  }
  .container {
    width: 90%;
    margin-top: 2px;
    .containerRow {
      padding-top: 80px;
      background-color: #ffffff;
    }
    .mainContainer {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 50px;
    }
    .dummyRight {
      div {
        width: 100%;
        height: 100px;
        background-color: #e5e5e5;
        margin-top: 5px;
      }
    }
    .img-div {
      img {
        width: 100%;
        height: 350px;
      }
      .dummyPicture {
        width: 100%;
        height: 350px;
        background-color: #e5e5e5;
      }
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
    }
    p {
      margin-bottom: 15px;
      text-align: justify;
    }
    .profileImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .followButton {
      background-color: #e5e5e5;
      color: #5e5f63;
      border: 1px solid #5e5f63;
    }
    .editButton {
      background-color: #3B8CA1;
      color: white;
      border: none;
    }
    p.articleDescription {
      height: 150px;
      padding-top: 3%;
    }
    span.red-text {
      float: right;
      text-decoration: none;
      cursor: pointer;
    }
    a.btn.waves-effect.waves-light.editButton {
      position: relative;
      right: 100%;
      bottom: 30px;
    }
    .margin-top-10 {
      margin-top: 10px;
    }
    .articleDescription {
      font-size: 0.85em;
      color: #6f6a6a;
    }
    .writer {
      font-weight: bold;
    }
    .activity-icons {
      i {
        cursor: pointer;
      }
      .active{
        color: #3b8ca1;
      }
      color: #5e5f63;
      .bookmarked {
        color: #3B8CA1;
      }
      .not-bookmarked {
        color: #5E5F63;
      }
      .no-bookmark {
        cursor: default;
      }
    }
    .liked-unliked {
      color: #3b8ca1;
    }
    .article-body, .tag-div {
      margin-top: 50px;
      text-align: justify;
      width: 80%;
      position: relative;
      left: 10%;
      right: 10%;
      @media #{$desktop} {
        width: 90%;
      }
      @media #{$tablet} {
        width: 94%;
        left: 0%;
        right: 0%;
      }
      @media #{$mobile} {
        width: 100%;
        left: 0%;
        right: 0%;
      }
    }
    .bold {
      font-weight: bold;
    }
    @media only screen and (min-width: 601px) {
      .hide-on-small-only {
        display: block;
      }
      .mainContainer {
        min-height: 800px;
        padding-left: 50px;
        padding-right: 50px;
      }
      .followButton {
        background-color: #e5e5e5;
        color: #5e5f63;
        border: 1px solid #5e5f63;
        padding-left: 30px;
        padding-right: 30px;
      }
      .profileImage {
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }
      h4 {
        font-weight: bold;
        font-size: 2em;
        line-height: 38px;
        margin-top: 0px;
      }
      .failure{
        h1{
          border-bottom: none;
          font-weight:900;
          font-size:100px;
          margin:20px 0px;
          padding:0px;
          color:#B2B2B2;
        }
        i{
          font-size:70px;
          color:#EF5350;
        }
        h2{
          font-weight:bold;
          font-size:30px;
        }
      }
    }
    @media only screen and (min-width: 993px) {
      .hide-on-small-only {
        display: block;
      }
      .mainContainer {
        min-height: 800px;
        padding-left: 70px;
        padding-right: 70px;
      }
    }
  }
}

.login-user {
  border: none;
  cursor: pointer;
  color: #3b8ca1;
}
@media screen and (max-width: 991px) {
  .MainWrapper2 .container a.btn.waves-effect.waves-light.editButton {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 10%;
  }
}

.report-box {
  padding-top: 40px;
  width: 450px;
  height: 250px;
}

.report-box textarea {
  width: 100%;
  height: 11rem;
  border: #E5E5E5 solid 1px;
  padding: 13px;
  font-size: 16px;
  resize: none;
  border-radius: 3px;
}

.report-box textarea::placeholder {
  color: #C4C4C4;
  opacity: 1;
  font-size: 18px;
}

.report-button {
  display: flex;
  justify-content: flex-end
}

.report-button button {
  border: 1px solid #0e718c;
  color: #0e718c;
  font-size: 15px;
  background-color: #fff;
  padding: 8px 8px;
  outline: none;
  width: 150px;
  cursor: pointer;
  margin-top: 20px;
}


