#login-modal, #reset-password-modal, #forgot-password-modal{
  width:360px;
  input{
    margin: 0;
  }
  .close-modal {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .modal-footer{
    display:none;
  }
  .fa-facebook{
    color:#4267B2;
  }
  .fa-google-plus-square{
    color:#CD4539;;
  }
  .fa-twitter-square{
    color:#00ACED;;
  }
  .theme-color{
    color:#06576D;
  }
  #login-button, #forgot-button, #reset-password{
    width:100%;
    border-radius: 25px;
    background-color: #06576D;
    margin-top: 20px;
    font-weight: 600;
    height: 40px;

    i.fa-sign-in-alt {
      margin-left: 5px;
    }
  }
  h5, h6{
    font-weight: bold;
  }
  p.forgot-password-link {
    cursor: pointer;
  }
  .mb-2{
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 601px) {
  #login-modal{
    width:360px;
  }
}
@media only screen and (min-width: 993px) {
  #login-modal{
    width:380px;
  }
}
